
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Vina+Sans&display=swap');
/* font-family: 'Lexend', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Vina+Sans&display=swap');

#container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 30px;
}
body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}
header {
    background: url(aset/welcome\ to\ our.jpg);
    color: white;
    text-align: center;
    padding: 1rem;
    height: 416px;
}
.logo {
    float: left;
    width: 57px;
    height: 57px;
}
.logo1 {
    float: left;
    margin-top: 15px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 680px;
}
nav ul li {
    display: inline;
    margin-right: 1rem;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li#gallery a{
    color: #356BB3;
    font-size: 15px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="79" height="36" viewBox="0 0 79 36" fill="none"><rect width="79" height="36" rx="6" fill="%23FFF3CB"/></svg>') no-repeat center center;
    background-size: cover;
    padding: 10px 15px;
    border-radius: 6px;
}
.main{
    height: 2150px;
    background: #fff;
}
.campdaniel{
    width: 960px;
    height: 532px;
    border-radius: 15px 0 0 15px;
    background: #BED754;
    backdrop-filter: blur(2px);
    position: absolute;
    margin-left: 20rem;
    margin-top: 4rem;
}
.tahun{
    color: #000;
    font-family: Bungee Outline;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-left: 69px;
    margin-top: 339px;
}
.tahun a{
    text-decoration: none;
    -webkit-text-fill-color: #000;
}
.tahun22 a{
    text-decoration: none;
    -webkit-text-fill-color: #000;
}
.tahun21 a{
    text-decoration: none;
    -webkit-text-fill-color: #000;
}
.tahun20 a{
    text-decoration: none;
    -webkit-text-fill-color: #000;
}
.judulgalery{
    color: #000;
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 3rem;
}
.foto{
    width: 651px;
    height: 364px;
    border-radius: 15px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    position: absolute;
    margin-top: 7.5rem;
    margin-left: 2.5rem;
}
.tanggal{
    color: #000;
    font-family: Lexend;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-left: 47rem;
    margin-top: 12rem;
}
.bgload{
    width: 187px;
    height: 45px;
    border-radius: 15px;
    background: #D9D9D9;
    margin-top: 27.5rem;
    margin-left: 46rem;
}
.teksload{
    color: #000;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 10px;
    margin-left: 38px;
}
.teksload a{
    text-decoration: none;
    -webkit-text-fill-color: #000;
}
.maycgat{
    width: 960px;
    height: 532px;
    border-radius: 15px 0 0 15px;
    background: #BED754;
    backdrop-filter: blur(2px);
    position: absolute;
    margin-left: 20rem;
    margin-top: 732px;
}
.tahun22{
    color: #000;
    font-family: Lexend;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-left: 69px;
    margin-top: 958px;
}
.global{
    width: 960px;
    height: 532px;
    border-radius: 15px 0 0 15px;
    background: #BED754;
    backdrop-filter: blur(2px);
    position: absolute;
    margin-left: 20rem;
    margin-top: 1364px;
}
.tahun21{
    color: #000;
    font-family: Bungee Outline;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-left: 69px;
    margin-top: 1582px;
}
.firstservice{
    width: 960px;
    height: 532px;
    border-radius: 15px 0 0 15px;
    background: #BED754;
    backdrop-filter: blur(2px);
    position: absolute;
    margin-left: 20rem;
    margin-top: 1989px;
}
.tahun20{
    font-family: Bungee Outline;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-left: 69px;
    margin-top: 2229px;
}
.footer {
    background: linear-gradient(180deg, #356BB3 42.71%, #FFF3CB 99.99%, rgba(53, 107, 179, 0.00) 100%);
    width: 1279px;
    height: 358px;
    flex-shrink: 0;
    margin-top: 25rem;
}
.circleicon1{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 272px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas1{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 213px;
    margin-top: 107px;
    position: absolute;
}
.icon{
    margin-top: 12px;
    margin-left: 11px;
    position: absolute;
}
.line{
    width: 980px;
    height: 1px;
    background: #D9D9D9;
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
    margin-top: 160px;
}
.circleicon2{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 615px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas2{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 583px;
    margin-top: 107px;
    position: absolute;
}
.circleicon3{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 945px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas3{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 900px;
    margin-top: 107px;
    position: absolute;
}
.iconyoutube{
    width: 24.886px;
    height: 17.533px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 14px;
}
.iconig{
    width: 25.09px;
    height: 25.09px;
    flex-shrink: 0;
    margin-top: 13px;
    margin-left: 13px;
}
.circleiconbottom{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 235px;
    position: absolute;
    margin-top: 227px;
}
.iconlocation{
    width: 19.886px;
    height: 28.681px;
    flex-shrink: 0;
    margin-top: 12px;
    margin-left: 16px;
    position: absolute;
}
.textlocation{
    color: #356BB3;
    text-align: center;
    font-family: Lexend;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 245px;
    margin-left: 295px;
}
.textfoot{
    color: #356BB3;
    font-family: Lexend;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 335px;
    margin-left: 528px;
}