
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Vina+Sans&display=swap');
/* font-family: 'Lexend', sans-serif; */

#container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 30px;
}
body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}
header {
    background: url(aset/SERVING.jpg);
    color: white;
    text-align: center;
    padding: 1rem;
    height: 416px;
}
.logo {
    float: left;
    width: 57px;
    height: 57px;
}
.logo1 {
    float: left;
    margin-top: 15px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 680px;
}
nav ul li {
    display: inline;
    margin-right: 1rem;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li#aboutus a{
    color: #356BB3;
    font-size: 15px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="79" height="36" viewBox="0 0 79 36" fill="none"><rect width="79" height="36" rx="6" fill="%23FFF3CB"/></svg>') no-repeat center center;
    background-size: cover;
    padding: 10px 15px;
    border-radius: 6px;
}
.whatisbar {
    height: 653px;
    background: #D9D9D9;
}
.whatisjudul {
    color: #000;
    text-align: justify;
    font-family: Lexend;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 60px;
    margin-top: 60px;
    position: absolute;
}
.whatdeskripsi{
    color: #000;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    margin-left: 60px;
    margin-top: 197px;
    line-height: 35px;
}
.gambarwhatis{
    width: 408px;
    height: 408px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 39px;
    margin-left: 865px;
    margin-top: 150px;
}
.selanjutnya{
    height: 2150px;
    background: #fff;
}
.gambarfirst{
    width: 569px;
    height: 397px;
    flex-shrink: 0;
    margin-right: 757px;
    margin-top: 6rem;
    position: absolute;
}
.weare{
    color: #000;
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 6rem;
    position: absolute;
    margin-left: 38rem;
}
.comunity{
    color: #356BB3;
    font-family: Lexend;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 5rem;
    margin-left: 49rem;
}
.deskripsicomunity{
    color: #000;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 10.5rem;
    margin-left: 38rem;
}
.kutipan{
    color: #000;
    text-align: right;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    margin-top: 26.5rem;
    margin-left: 40rem;
}
.mission{
    color: #356BB3;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 40rem;
    margin-left: 55px;
}
.theglory{
    color: #000;
    font-family: Lexend;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 45rem;
    margin-left: 55px;
}
.wewant{
    color: #000;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 59rem;
    margin-left: 55px;
}
.gambar1{
    width: 320px;
    height: 493px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 886px;
    margin-top: 63rem;
}
.gambar2{
    width: 320px;
    height: 493px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 499px;
    margin-top: 68rem;
}
.gambar3{
    width: 320px;
    height: 493px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 107px;
    margin-top: 73rem;
}
.teks1{
    color: #D2DE32;
    font-family: Lexend;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-left: 132px;
    margin-top: 102.2rem;
}
.teks2{
    color: #FF6C22;
    font-family: Lexend;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-left: 535px;
    margin-top: 97.2rem;
}
.teks3{
    color: #356BB3;
    font-family: Lexend;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    margin-top: 92.2rem;
    margin-left: 910px;
}
.barbottom{
    width: 1145px;
    height: 268px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F5EEC8;
    position: absolute;
    margin-top: 112rem;
    margin-left: 94px;
}
.teksbar{
    color: #000;
    text-align: center;
    font-family: Lexend;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    margin-left: 65px;
    margin-top: 55px;
}
.footer {
    background: linear-gradient(180deg, #356BB3 42.71%, #FFF3CB 99.99%, rgba(53, 107, 179, 0.00) 100%);
    width: 1279px;
    height: 358px;
    flex-shrink: 0;
    margin-top: -1rem;
}
.circleicon1{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 272px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas1{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 213px;
    margin-top: 107px;
    position: absolute;
}
.icon{
    margin-top: 12px;
    margin-left: 11px;
    position: absolute;
}
.line{
    width: 980px;
    height: 1px;
    background: #D9D9D9;
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
    margin-top: 160px;
}
.circleicon2{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 615px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas2{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 583px;
    margin-top: 107px;
    position: absolute;
}
.circleicon3{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 945px;
    position: absolute;
    margin-top: 52px;
}
.textfooteratas3{
    color: #FFF3CB;
    text-align: justify;
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 900px;
    margin-top: 107px;
    position: absolute;
}
.iconyoutube{
    width: 24.886px;
    height: 17.533px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 17px;
    margin-left: 14px;
}
.iconig{
    width: 25.09px;
    height: 25.09px;
    flex-shrink: 0;
    margin-top: 13px;
    margin-left: 13px;
}
.circleiconbottom{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #FFF3CB;
    margin-left: 235px;
    position: absolute;
    margin-top: 227px;
}
.iconlocation{
    width: 19.886px;
    height: 28.681px;
    flex-shrink: 0;
    margin-top: 12px;
    margin-left: 16px;
    position: absolute;
}
.textlocation{
    color: #356BB3;
    text-align: center;
    font-family: Lexend;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 245px;
    margin-left: 295px;
}
.textfoot{
    color: #356BB3;
    font-family: Lexend;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 335px;
    margin-left: 528px;
}